/*
Note: any .css or .scss files included in the 'styles' directory
will be correctly compiled during `gulp serve` and `gulp`
 */


html, body {
    font: 1.1em/1.618 'avenir next', avenir, sans-serif;
}

body {
    margin: 0;
}

header {
    background: #00c6ff;
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);
    background: linear-gradient(to right, #0072ff, #00c6ff);
    height: 44vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header .logo {
    max-width: 130px;
    padding: 30px 0;
}

header h1 {
    color: #fff;
    margin: 34px 0;
    padding: 0;
    text-align: center;
}

.author {
    color: #fff;
}

.author a {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    transition: border .2s, color .2s ease-out;
}

.author a:hover {
    color: #f1ece9;
    text-decoration: none;
    border-bottom: 3px solid #a0d9ff;
}

.reviewers {
    color: #f1ece9;
}

.reviewers a {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    transition: border .2s, color .2s ease-out;
}

.reviewers a:hover {
    color: #f1ece9;
    text-decoration: none;
    border-bottom: 3px solid #a0d9ff;
}

.container {
    word-wrap: break-word;
}

.container a {
    color: #345cd5;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    transition: border .2s, color .2s ease-out;
}

.container a:hover {
    color: #5c84ff;
    text-decoration: none;
    border-bottom: 3px solid #f1ece9;
}

pre {
    background: #f7f7f7;
    font: .8em Roboto Mono, monospace;
    max-width: 80%;
    overflow: scroll;
    padding: 0 16px;
    text-align: left;
    margin: 1.25em auto 0;
}

.note:before,
.key-point:before {
    content: '';
    width: 36px;
    height: 24px;
    background-position: center left;
    background-repeat: no-repeat;
}

.note:before {
    background-image: url('/images/icons/star.svg');
}

.key-point:before {
    background-image: url('/images/icons/lightbulb.svg');
}

.container {
    margin: 0 auto;
    max-width: 90%;
    padding-top: 16px;
}

.author {
    padding: 0 16px;
    margin: 0 auto 20px;
    font-size: 1.1em;
}

.reviewers {
    padding: 0 16px;
    margin: 0 auto 14px;
    font-size: .7em;
}

p, h1, h2, h3, h4 {
    max-width: 90%;
    padding: 0 16px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.25em;
}

figure {
    text-align: center;
    margin: 2em auto;
}

figure source, figure img {
    max-width: 90%;
}

figure img.very-small {
    max-width: 90%;
}

figcaption {
    font-size: .8em;
    text-align: center;
    color: #757575;
    margin: 1em auto 2em;
}

header {
    padding: 40px 0;
}

header h1 {
    font-size: 1.4em;
    color: #fff;
    line-height: normal;
}

header .credits {
    font-size: .75em;
    padding: 0 16px;
    text-align: center;
    max-width: 84%;
}

aside.key-point, aside.note {
    max-width: 60%;
    margin: 1.25em auto 0;
    font-size: .8em;
    line-height: 1.7;
}

details {
    padding: 0 16px;
    text-align: left;
    margin: 1.25em auto 0;
    max-width: 90%;
    cursor: pointer;
}

details h2 {
    margin: 0;
    text-align: initial;
    padding: initial;
    line-height: initial;
    display: initial;
}

/* landscape small phones (iPhone 4/5) */
@media (max-height:320px)  {
    .credits {
        display: none;
    }
}

/* landscape 800x480 or 854x480 phones */
@media (min-width:641px)  {
    html, body {
        font-size: 1.15em;
        line-height: 1.618;
    }

    header .logo {
        max-width: 100px;
    }

    header {
        padding: 60px 0;
    }

    header h1 {
        font-size: 2em;
        line-height: normal;
    }

    header .credits {
        font-size: 1em;
        line-height: normal;
        padding: 0;
        max-width: 60%;
    }

    .author {
        margin: 0 auto 30px;
        font-size: 0.8em;
    }

    .reviewers {
        font-size: .5em;
    }

    .github-corner {
        right: 0;
    }

    h1 {
        font-size: 2.1em;
        line-height: 1.1;
    }

    h2 {
        font-size: 2em;
        line-height: 1.5;
        margin-top: 20px;
    }

    h3 {
        font-size: 1.7em;
        line-height: 1.27;
    }

    h4 {
        font-size: 1.125em;
        letter-spacing: .125em;
    }

    ul {
        max-width: 900px;
        padding-left: 80px;
        text-align: left;
        margin: 1.25em auto 0;
    }

    ul li {
        margin: 15px 0;
    }

    .container {
        margin-top: 65px;
        max-width: 100%;
        padding-top: 0;
    }

    p, pre, h1, h2, h3, h4 {
        max-width: 900px;
        padding: 0 16px;
        text-align: left;
        margin: 1.25em auto 0;
    }

    pre {
        max-width: 870px;
        padding: 0 16px;
        text-align: left;
        margin: 1.25em auto 0;
    }

    figure {
        text-align: center;
    }

    figure img.small {
        max-width: 70%;
    }

    figure img.very-small {
        max-width: 396px;
    }

    figcaption {
        font-size: .8em;
        text-align: center;
        color: #757575;
        margin: 1em auto 2em;
        width: 80%;
    }

    aside.note, aside.key-point {
        margin: 30px auto;
        max-width: 820px;
        font-size: 1.075em;
        line-height: 1.49;
    }

    img {
        max-width: 90%;
    }

    img:parent {
        margin: 0 auto;
        text-align: center;
    }

    img:parent, figure:parent, img {
        width: 90%;
        max-width: 90%;
    }

    .note:before,
    .key-point:before {
        margin-top: 4px;
    }

    details {
        padding: 0 16px;
        text-align: left;
        margin: 1.25em auto 0;
        max-width: 900px;
    }

    details h2 {
        margin: 0;
        text-align: initial;
        padding: initial;
        line-height: initial;
        display: initial;
    }
}

/* portrait tablets, portrait iPad, landscape e-readers, */
@media (min-width:768px)  {
    header .logo {
        max-width: 200px;
        padding: 40px 0;
    }

    .author {
        font-size: 1.1em;
    }

    .reviewers {
        font-size: .7em;
    }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px)  {
    html, body {
        font-size: 1.2em;
        line-height: 1.618;
    }

    header h1 {
        font-size: 2.2em;
        line-height: normal;
    }
}

/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {
    html, body {
        font-size: 1.225em;
        line-height: 1.618;
    }

    header h1 {
        font-size: 2em;
        line-height: normal;
    }
}

/* hi-res laptops and desktops */
@media (min-width:1281px) {
    header h1 {
        font-size: 2.5em;
        line-height: normal;
    }
}

/* github ribbon */
.link-svg svg {
  height: 1.5rem;
  width: 1.5rem;
  fill: #555;
}

.link-svg svg:hover {
    fill: #000;
}

@media screen and (max-width: 30em) {
    .link-svg svg {
      height: 1rem;
      width: 1rem;
    }
}

@media screen and (min-width: 30em) and (max-width: 60em) {
    .link-svg svg {
      height: 1.25rem;
      width: 1.25rem;
    }
}

.github-corner {
  position: absolute;
  top: 0;
  right: 0;
  height: 5rem;
  width: 5rem;
  fill: #00c3ff;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0);
    }
  20%,
    60% {
    transform: rotate(-25deg);
    }
  40%,
    80% {
    transform: rotate(10deg);
    }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none;
    }
    .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
    }
}

/* github ribbon */
