/*
Note: any .css or .scss files included in the 'styles' directory
will be correctly compiled during `gulp serve` and `gulp`
 */


html, body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    margin: 0;
}

header {
    background-color: #000;
}

header h1 {
    color: #fff;
}

.author {
    color: #fff;
}

.author a {
    color: #F2CC68;
}

.reviewers {
    color:#d4d3d3;
}

.reviewers a {
    color: #eceff1;
}

a {
    color: #056fa2;
    text-decoration: none;
}

pre {
    background-color: #f7f7f7;
    font-family: Roboto Mono, monospace;
}

/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px)  {  
    html, body {
        font-size: 1.1em;
        line-height: 1.25;
    }

    .container {
        max-width: 90%;
        padding-top: 16px;
    }

    p, pre, ul, h1, h2, h3, h4 {
        max-width: 90%; 
        padding: 0 16px;
        text-align: left;
        margin: 0 auto 24px;
    }

    figure source, figure img {
        max-width: 90%;
    }

    figure img.very-small {
        max-width: 90%;
    }

    header {
        background-color: #000;
        padding: 40px 0 40px 0;
    }

    header h1 {
        font-size: 1.8em;
        color: #fff;
    }

    header .credits {
        font-size: 0.75em;
        padding: 0 16px;
        text-align: left;
        max-width: 84%;
    }

    aside.key-point, aside.note {
        font-size: .8em;
        line-height: 1.7;
    }

    pre {
        font-size: 0.8em;
        max-width: 90%;
        overflow: scroll;
    }
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px)  {  

}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px)  {
    html, body {
        font-size: 1.275em;
        line-height: 1.25;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }

    header {
        padding: 60px 0 60px 0;
    }

    header h1 {
        font-size: 4em;
    }

    header .credits {
        font-size: 1em;
        line-height: normal;
        padding: 0;
        max-width: 100%;
    }

    .author {
        max-width: 940px; 
        padding: 0 16px;
        text-align: left;
        margin: 0 auto 24px;
    }


    .reviewers {
        color:#d4d3d3;
        max-width: 940px;
        padding: 0 16px;
        text-align: left;
        margin: 0 auto 24px;
        font-size: 0.7em;
    }

    .github-corner {
        right: 0px;
    }

    h1 {
        font-size: 2.1em;
        line-height: 1.1;
    }

    h2 {
        font-size: 2em;
        line-height: 1.1;
    }

    h3 {
        font-size: 1.425em;
        line-height: 1.27;
    }

    h4 {
        font-size: 1.125em;
        letter-spacing: .125em;
    }


    ul li {
        margin: 15px 0px 15px 0;
    }

    .container {
        margin-top: 65px;
        max-width: 100%;
        padding-top: 0px;
    }

    p, pre, ul, h1, h2, h3, h4 {
        max-width: 940px; 
        padding: 0 16px;
        text-align: left;
        margin: 0 auto 24px;
    }

    aside.note, aside.key-point {
        margin: 0 auto 30px;
        max-width: 940px;
        font-size: 1.075em;
        line-height: 1.49;
    }

    figure {
        margin: 0;
        padding: 16px;
        text-align: center;
    }

    figure img.small {
        max-width: 70%;
    }

    figure img.very-small {
        max-width: 396px;
    }

    figcaption {
        font-size: 0.9em;
        text-align: center;
        color: #757575;
        margin: 0 auto;
        width: 70%;
    }

    img {
    max-width: 90%;
    }

    img:parent {
    margin: 0 auto;
    text-align: center;
    }

    img:parent, figure:parent, img {
    width: 90%;
    max-width: 90%;
    }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px)  {  

}

/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {  

}

/* hi-res laptops and desktops */
@media (min-width:1281px) {  

}

/* github ribbon */
.link-svg svg {
  height: 1.5rem;
  width: 1.5rem;
  fill: #555; 
}

.link-svg svg:hover {
    fill: #000; 
}

@media screen and (max-width: 30em) {
    .link-svg svg {
      height: 1rem;
      width: 1rem; 
    } 
}

@media screen and (min-width: 30em) and (max-width: 60em) {
    .link-svg svg {
      height: 1.25rem;
      width: 1.25rem; 
    } 
}

.github-corner {
  position: absolute;
  top: 0;
  right: 0;
  height: 5rem;
  width: 5rem;
  fill: #000;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out; 
}

@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0); 
    }
  20%,
    60% {
    transform: rotate(-25deg); 
    }
  40%,
    80% {
    transform: rotate(10deg); 
    } 
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none; 
    }
    .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out; 
    } 
}

/* github ribbon */